[submodule "modules/django_compilation"]
	path = modules/django_compilation
	url = git@github.com:zeebo/django_compilation.git
[submodule "modules/SlickGrid"]
	path = modules/SlickGrid
	url = https://github.com/mleibman/SlickGrid.git
[submodule "modules/django-debug-toolbar"]
	path = modules/django-debug-toolbar
	url = git@github.com:zeebo/django-debug-toolbar.git
