<html>
<head>
<title>Testing Pasting</title>
<link rel="stylesheet" href="../SlickGrid/slick.grid.css" type="text/css" media="screen" charset="utf-8" /> 
<link rel="stylesheet" href="../SlickGrid/css/smoothness/jquery-ui-1.8.5.custom.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="../SlickGrid/controls/slick.pager.css" type="text/css" media="screen" charset="utf-8" /> 
<link rel="stylesheet" href="examples.css" type="text/css" media="screen" charset="utf-8" /> 
</head>
<body>
<div style="width:600px;float:left;padding:10px;">
	<div class="grid-header" style="width:100%">
		<label>XBRL Data Editor</label>
	</div>
	<div id="myGrid" style="width:100%;height:500px;"></div>
</div>
<div style="width:300px;float:left;padding:10px;">
	<div class="control-header" style="width:100%">
		<label>Controls</label>
	</div>
	<button id="add_column">Add Column</button>
	<button id="add_row">Add Row</button><br>
	<button id="del_column">Delete Selected Column</button>
	<button id="del_row">Delete Selected Row</button>
</div>
<script src="../SlickGrid/lib/jquery-1.4.3.min.js"></script>
<script src="../SlickGrid/lib/jquery-ui-1.8.5.custom.min.js"></script>
<script src="../SlickGrid/lib/jquery.event.drag-2.0.min.js"></script>
<script src="../SlickGrid/slick.core.js"></script>
<script src="../SlickGrid/slick.grid.js"></script>
<script src="../SlickGrid/slick.dataview.js"></script>
<script src="../SlickGrid/slick.editors.js"></script>
<script>
	var grid;
	var columns = [
		{
			id:"desc",
			name:"Description",
			field:"description"
		}
	];
	var options = {
		enableCellNavigation: true,
		enableColumnReorder: false,
		editable: true
	};
	$(function() {
		var data = [
			{id:0, description:'gasdfasdf'}
		];
		dataView = new Slick.Data.DataView();
		grid = new Slick.Grid("#myGrid", dataView, columns, options);
		dataView.onRowCountChanged.subscribe(function(e,args) {
			grid.updateRowCount();
			grid.render();
		});
		dataView.beginUpdate();
		dataView.setItems(data);
		dataView.endUpdate();
		$("#myGrid").show();
		
		$("#add_column").click(function(e) {
			var columns = grid.getColumns();
			var id = columns.length + 1;
			var desc = prompt("Column name");
			if (desc === null) { return; }
			columns.push({id:"col" + id, name:desc, field:desc});
			grid.setColumns(columns);
		});
		
		$("#add_row").click(function(e) {
			var id = dataView.getLength() + 1;
			dataView.addItem({id:id, description:'g'});
		});
		
		$("#del_row").click(function e() {
			var cell = grid.getActiveCell();
			//cell['row'], cell['cell']
			if (cell === null) { return; }
			var item = dataView.getItem(cell['row']);
			if (item === null) { return; }
			dataView.deleteItem(item.id);
			grid.invalidate();
			grid.render();
		});
	})
</script>
</body>
</html>
