<html>
<head>
<title>Testing Pasting</title>
<link rel="stylesheet" href="../SlickGrid/slick.grid.css" type="text/css" media="screen" charset="utf-8" /> 
<link rel="stylesheet" href="../SlickGrid/css/smoothness/jquery-ui-1.8.5.custom.css" type="text/css" media="screen" charset="utf-8" /> 
<link rel="stylesheet" href="examples.css" type="text/css" media="screen" charset="utf-8" /> 
</head>
<body>
<div id="myGrid" style="width:600px;height:500px;display:none;"></div>
<textarea id="capture"></textarea>
<script src="../SlickGrid/lib/jquery-1.4.3.min.js"></script>
<script src="../SlickGrid/lib/jquery-ui-1.8.5.custom.min.js"></script>
<script src="../SlickGrid/lib/jquery.event.drag-2.0.min.js"></script>
<script src="../SlickGrid/slick.core.js"></script>
<script src="../SlickGrid/slick.grid.js"></script>
<script src="../SlickGrid/slick.editors.js"></script>
<script>
	var grid;
	var columns = [
		{id:"title", name:"Title", field:"title", editor:TextCellEditor},
		{id:"duration", name:"Duration", field:"duration", editor:TextCellEditor},
		{id:"%", name:"% Complete", field:"percentComplete", editor:TextCellEditor},
		{id:"start", name:"Start", field:"start", editor:DateCellEditor},
		{id:"finish", name:"Finish", field:"finish", editor:DateCellEditor},
		{id:"effort-driven", name:"Effort Driven", field:"effortDriven", editor:YesNoCheckboxCellEditor, formatter:BoolCellFormatter}
	];
	var options = {
		enableCellNavigation: true,
		enableColumnReorder: false,
		editable: true
	};
	$(function() {
		var data = [];
		for (var i = 0; i < 500; i++) {
			data[i] = {
				title: "Task " + i,
				duration: "5 days",
				percentComplete: Math.round(Math.random() * 100),
				start: "01/01/2009",
				finish: "01/05/2009",
				effortDriven: (i % 5 == 0)
			};
		}

		grid = new Slick.Grid("#myGrid", data, columns, options);
		grid.onKeyDown.subscribe(function(e) {
			if (e.which != 86 || !e.ctrlKey) {
				return false;
			}
			$("#capture").focus();
		});

		$("#myGrid").show();
		$("#capture").bind('paste', function() {
			alert('lol');
		});
	})
</script>
</body>
</html>
