{% load compiler %}
<html>
<head>
<title>Testing Pasting</title>
<link rel="stylesheet" href="/static/SlickGrid/slick.grid.css" type="text/css" media="screen" charset="utf-8" /> 
<link rel="stylesheet" href="/static/SlickGrid/css/smoothness/jquery-ui-1.8.5.custom.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="/static/css/examples.css" type="text/css" media="screen" charset="utf-8" /> 
</head>
<body>
<div style="width:600px;float:left;padding:10px;">
	<div class="grid-header" style="width:100%">
		<label>XBRL Data Editor</label>
	</div>
	<div id="myGrid" style="width:100%;height:500px;"></div>
</div>
<div style="width:300px;float:left;padding:10px;">
	<div class="control-header" style="width:100%">
		<label>Controls</label>
	</div>
	<button id="add_column">Add Column</button>
	<button id="del_column">Delete Selected Column</button>
	<button id="del_row">Delete Selected Row</button>
	
	<div>
	  <button id="serialize">Serialize</button><br>
	  <textarea id="serialize_text" style="width:100%;height:450px;"></textarea>
	</div>
</div>
<script src="/static/SlickGrid/lib/jquery-1.4.3.min.js"></script>
<script src="/static/SlickGrid/lib/jquery-ui-1.8.5.custom.min.js"></script>
<script src="/static/SlickGrid/lib/jquery.event.drag-2.0.min.js"></script>
<script src="/static/SlickGrid/slick.core.js"></script>
<script src="/static/SlickGrid/slick.grid.js"></script>
<script src="/static/SlickGrid/slick.editors.js"></script>
{% compile %}
<script type="text/coffeescript">
data = []
columns = []
options = 
	editable: true
	enableAddRow: true
	enableCellNavigation: true

$ ->
	grid = new Slick.Grid "#myGrid", data, columns, options
	grid.onAddNewRow.subscribe (e, args) ->
		item = args.item
		column = args.column
		grid.invalidateRow data.length
		data.push item
		grid.updateRowCount()
		grid.render()
	
	$("#add_column").click (e) ->
		columns = grid.getColumns()
		id = columns.length + 1
		desc = prompt "Column name"
		if desc == null
			return
		columns.push
			id: "col" + id
			name: desc
			field: desc
			editor: TextCellEditor
		grid.setColumns columns
	
	$("#del_column").click (e) ->
		columns = grid.getColumns()
		cell = grid.getActiveCell()
		if cell == null
			return
		columns.splice cell['cell'] 1
		grid.setColumns columns
	
	$("#del_row").click (e) ->
		cell = grid.getActiveCell()
		if cell == null
			return
		grid.invalidateRow cell['row']
		data.splice cell['row'] 1
		grid.setData data
		grid.updateRowCount();
		grid.render();
	
	$("#serialize").click (e) ->
		s_data =
			columns: column.name for column in columns
			rows: data
		
		$("#serialize_text").val JSON.stringify s_data
</script>
{% endcompile %}
</body>
</html>
